@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.ocean_gradient {
  @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent;
}

body {
  @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600;
}
